<div class="flex justify-around mt-[calc(10vw)]">
  <div class="border-black w-[calc(25vw)] h-[calc(40vw)] border-2">
    <div class="w-full text-5xl mt-4 border-b-2 border-black pb-4 text-center">
      Basic
    </div>
  </div>
  <div class="border-black w-[calc(25vw)] h-[calc(40vw)] border-2">
    <div class="w-full text-5xl mt-4 border-b-2 border-black pb-4 text-center">
      Standard
    </div>
  </div>
  <div class="border-black w-[calc(25vw)] h-[calc(40vw)] border-2">
    <div class="w-full text-5xl mt-4 border-b-2 border-black pb-4 text-center">
      Premium
    </div>
  </div>
</div>
