<div class="flex justify-center mt-[calc(10vw)] gap-12">
  <div class="border-black w-[calc(25vw)] h-[calc(40vw)] border-2">
    <div class="w-full text-5xl mt-4 border-b-2 border-black pb-4 text-center">
      Basic
    </div>
    <div
      class="w-full h-[calc(4vw)] flex border-yellow-300 border-2 justify-end items-center text-3xl pr-4"
    >
      $40
    </div>
  </div>
  <div class="border-black w-[calc(25vw)] h-[calc(40vw)] border-2">
    <div class="w-full text-5xl mt-4 border-b-2 border-black pb-4 text-center">
      Standard
    </div>
    <div
      class="w-full h-[calc(4vw)] flex border-yellow-300 border-2 justify-end items-center text-3xl pr-4"
    >
      $150
    </div>
  </div>
  <div class="border-black w-[calc(25vw)] h-[calc(40vw)] border-2">
    <div class="w-full text-5xl mt-4 border-b-2 border-black pb-4 text-center">
      Premium
    </div>
    <div
      class="w-full h-[calc(4vw)] flex border-yellow-300 border-2 justify-end items-center text-3xl pr-4"
    >
      $300
    </div>
  </div>
</div>
