<section class="home-page">
    <div class="home-container h-[calc(80vh)]">
        <div class="logo flex ml-[calc(10vw)] mt-[calc(5vw)] text-[calc(3vw)] font-bold  text-themePurple">
            <img src="../../../assets/eyeball.png" class="w-24 h-24 mr-2" />
            PUPILAI
        </div>
        <div class="hero-header flex flex-col space-between border-2 border-blue-500 sm:flex-row">
            <div
                class="header-container ml-[calc(13vw)] mt-[calc(10vh)] mx-[calc(50vw)] border-2 border-red-500 sm:mx-[calc(10vw)] sm:w-[calc(40vw)]">
                <div class="font-roboto text-3xl font-bold pt-3 pb-3 leading-[5rem] text-themePurple">
                    Top Rated Experts in Web Development
                </div>
                <div class="header-description text-xl pt-3 pb-3 leading-[2rem] text-themePurple">
                    Get an impactful website that shares your story with the world. <br>
                    We can help with that.
                    <button class="bg-themePurple hover:bg-blue-300 text-white rounded-full py-2 px-2 block mt-4 w-32">
                        Let's Talk
                    </button>
                </div>
            </div>
            <div class="hero-image border-2 border-black mt-4 sm:mt-0 flex justify-center">
                <img src="/assets/robot-arm.png" alt="image"
                    class="w-full h-auto max-w-full sm:max-w-md -10 object-right-bottom">
            </div>
        </div>

    </div>
    <!-- <div class="flex flex-col">
        <div class="custom-shape-divider-bottom-1690342931">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </div> -->
    <div class="why-pupil m-20 bg-descPurple flex flex-col items-center text-center">
        <div class="p-32 justify-center flex flex-col items-center text-center gap-4">
            <div class="text-white text-3xl font-bold">
                Why PupilAI?
            </div>
            <div class="header-description pt-3 pb-3 leading-[2rem] text-white text-xl">
                Here are some of the reasons why people choose us:
            </div>
            <div
                class="grid grid-cols-2 justify-center items-center align-middle text-white text-center leading-[2rem] text-lg">
                <div class="flex gap-4">
                    <img src="/assets/pet.png" alt="image" class="w-24 h-24">
                    Cost Effective Pricing
                </div>
                <div class="flex gap-4">
                    <img src="/assets/pet.png" alt="image" class="w-24 h-24">
                    Fast and Easy Customer Support
                </div>
                <div class="flex gap-4">
                    <img src="/assets/pet.png" alt="image" class="w-24 h-24">
                    Quick Revisions
                </div>
                <div class="flex gap-4">
                    <img src="/assets/pet.png" alt="image" class="w-24 h-24">
                    Demonstrated Success
                </div>
            </div>
            <button class="bg-white hover:bg-blue-300 text-themePurple rounded-full py-2 px-2 mt-4 w-44">
                Available Plans
            </button>
        </div>
    </div>
</section>