<section class="home-container h-[calc(80vh)]">
    <div class="logo flex ml-[calc(13vw)] mt-[calc(5vw)] text-[calc(2vw)] font-bold  text-themePurple">
        <img src="../../../assets/eyeball.png" class="w-12 h-12 mr-2" />
        PUPILAI
    </div>
    <div class="homecontainer ml-[calc(13vw)]  mt-[calc(10vh)] mx-[calc(50vw)] ">
        <div class="font-roboto text-xl pt-3 pb-3 leading-[5rem]  text-themePurple">
            Top Rated Experts in
            Web Development
        </div>
        <div class="header-description pt-3 pb-3 leading-[2rem]  text-themePurple">
            Get an impactful website that shares your story with the world. <br>
            We can help with that.
            <button class="bg-themePurple hover:bg-blue-700 text-white border-1px rounded py-2 px-2 block mt-4"> Let's
                Talk
            </button>
        </div>
    </div>
</section>