@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
}

.home-page {
    /* background-image: url("../../../assets/background5.jpg"); */
    background-size: cover;
}

#header {
    font-family: 'Roboto';
}

.font-roboto {
    font-size: 60px;
    display: inline
}