<div id="nav-container">
    <div id="logo">
        <img src="../../../assets/eyeball.png" />
        PupilAI
    </div>
    <div id="navbar" style='background-color: #EDE3FB' class="sticky">
        <ul className="navbar-list">
            <ul className="nav-item active">
                <a className="nav-link" routerLink="" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact:true}">〉Home
                </a>
            </ul>
            <ul className="nav-item">
                <a class="nav-link" routerLink="menu" routerLinkActive="active-link">〉Menu</a>
            </ul>
            <ul className="nav-item">
                <a class="nav-link" routerLink="about" routerLinkActive="active-link">〉About</a>
            </ul>
            <ul className="nav-item">
                <a class="nav-link" routerLink="contact" routerLinkActive="active-link">〉Contact</a>
            </ul>
        </ul>
    </div>
</div>