* {
    color: #4846CB;
    text-decoration: none;
}

#nav-container {
    z-index: 5;
    /* border: 5px solid limegreen; */
}

#navbar {
    /* border: 5px solid red; */
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

#logo {
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;
    /* border: 5px solid blue; */
}

ul a {
    display: block;
    padding: 8px 16px;
    margin-bottom: 11px;
    width: 200px;
    text-decoration: none;
    background-color: #4846CB;
    color: white;
    /* border: 5px solid hotpink */
}

ul a:hover {
    width: 200px;
    color: #4846CB;
    background-color: white;
}

.active-link {
    font-weight: bold;
}

#logo img {
    max-width: 50px;
    max-height: 50px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width:768px) {
    .navbar-list {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}